<div class="page-header">
    <h1>Программная навигация. Параметры запроса {{id ? id : "не определены"}}</h1>
</div>
<div class="task-description">
    <description-component>
        <h3>В поле input можно выбрать юзера и по клику на кнопку перейти к его todo list</h3>
        <input class="form-control" type="number" min="1" max="10" [(ngModel)]="userId.id" required #idInput="ngModel">
        <button (click)="goToUserToDos(idInput.value)" class="btn btn-default" [disabled]="idInput.invalid">Перейти к
            todo list юзера</button>
        <nav>
            <a routerLink="/task39" [queryParams]="{'id':1}">To do list user 1</a>
            <a routerLink="/task39" [queryParams]="{'id':2}">To do list user 2</a>
            <a routerLink="/task39" [queryParams]="{'id':3}">To do list user 3</a>
            <a routerLink="/task39" [queryParams]="{'id':4}">To do list user 4</a>
            <a routerLink="/task39" [queryParams]="{'id':5}">To do list user 5</a>
            <a routerLink="/task39" [queryParams]="{'id':6}">To do list user 6</a>
            <a routerLink="/task39" [queryParams]="{'id':7}">To do list user 7</a>
            <a routerLink="/task39" [queryParams]="{'id':8}">To do list user 8</a>
            <a routerLink="/task39" [queryParams]="{'id':9}">To do list user 9</a>
            <a routerLink="/task39" [queryParams]="{'id':10}">To do list user 10</a>
        </nav>
    </description-component>
</div>
<div class="panel">
    <div class="container">
        <item-component *ngFor="let item of items; let i = index" [todoIndex]="i" [text]="item.text"
            [isDone]="item.isDone">
        </item-component>
    </div>
</div>