<div class="page-header">
    <h1>Создание структурных директив</h1>
</div>
<div class="task-description">
    <description-component>
        <h3 *copy="3">Этот заголовок должен быть продублирован новой директивой столько раз сколько передано ей в
            аргументе</h3>
    </description-component>
</div>
<!-- <div class="panel" *ngIf="(observable$ | async) as items">
    <div class="container">
        <item-component *ngFor="let item of items; let i = index" [todoIndex]="i" [title]="item.title"
            [completed]="item.completed">
        </item-component>
    </div>
</div> -->