<div class="comments">
    <div *ngIf="isCommentsVisible; else elseBlock">
        <button class="button" (click)="toggleCommentsVisible()">Скрыть комментарии</button>
        <div class="comments-content" *ngIf="(comments$ | async) as items">
            <comment-component *ngFor="let comment of items" [body]="comment.body" [postId]="comment.postId"
                [email]="comment.email" [name]="comment.name" [commentId]="comment.id"
                [isCommentLiked]="checkLike(comment.id)" (onChanged)="onLikesChanged($event)">
            </comment-component>
        </div>
    </div>
    <ng-template #elseBlock>
        <button class="button" (click)="toggleCommentsVisible()">Показать комментарии</button>
    </ng-template>
</div>