<div class="comments">
    <div *ngIf="isCommentsVisible; else elseBlock">
        <p>Скрыть комментарии</p>
        <div class="comments-content" *ngFor="(comments$ | async) as items">
            <comment-component *ngFor="comment of items" [name]="comment.name" [body]="comment.body"
                [postId]="comment.postId" [email]="comment.email"></comment-component>
        </div>
    </div>
    <ng-template (click)="getComments(postId)" #elseBlock>
        <p>Показать комментарии</p>
    </ng-template>
</div>