<div class="page-header">
    <h1>Шаблонные переменные, ViewChild, ContentChild</h1>
</div>
<div class="task-description">
    <description-component>
        <h3> Через шаблонную переменную #item, достаются все ViewChild компоненты.
            Их свойства можно одновременно изменить используя кнопки "add one to all" и "delete one from all".
            <strong #contentChildVariable>{{contentChildText}}</strong> можно изменять нажатием кнопки change
        </h3>
    </description-component>
</div>
<div class="text-center">
    <button (click)="increment()">add one to all</button>
    <button (click)="decrement()">delete one from all</button>
</div>
<div class="panel" *ngIf="(observable$ | async) as items">
    <div class="container">
        <item-component *ngFor="let item of items; let i = index" [todoIndex]="i" [title]="item.title"
            [completed]="item.completed" #item>
        </item-component>
    </div>
</div>