.column {
    display: flex
}

.center {
    justify-content: center;
}

.input-container p {
    font-size: 20px;
    margin: 0 10px 10px 0
}

.input-container input {
    height: 50%;
    align-items: center;
    margin: 0 10px 0 0
}

.form-container {
    margin: 0 100px
}

.input-container input[type=checkbox] {
    width: 22px;
    height: 22px;
}