<h1>{{title}}</h1>
<nav>
    <a routerLink="/todo">To do list</a>
    <a routerLink="/posts">Posts</a>
    <a routerLink="/albums">Albums</a>
    <a routerLink="/task12">task12</a>
    <a routerLink="/task13">task13</a>
    <a routerLink="/task14">task14</a>
    <a routerLink="/task15">task15</a>
    <a routerLink="/task16">task16</a>
    <a routerLink="/task17">task17</a>
    <a routerLink="/task18">task18</a>
    <a routerLink="/task19">task19</a>
    <a routerLink="/task20">task20</a>
    <a routerLink="/task21">task21</a>
    <a routerLink="/task22">task22</a>
    <a routerLink="/task23">task23</a>
    <a routerLink="/task24">task24</a>
    <a routerLink="/task25">task25</a>
    <a routerLink="/task26">task26</a>
    <a routerLink="/task27">task27</a>
    <a routerLink="/task28">task28</a>
    <a routerLink="/task29">task29</a>
    <a routerLink="/task30">task30</a>
    <a routerLink="/task31">task31</a>
    <a routerLink="/task32">task32</a>
    <a routerLink="/task33">task33</a>
    <a routerLink="/task34">task34</a>
    <!-- <a routerLink="/task35">task35</a>
    <a routerLink="/task36">task36</a> -->
    <a routerLink="/task37">task37</a>
    <a routerLink="/task38">task38</a>
    <a routerLink="/task39">task39</a>
    <a routerLink="/task40">task40</a>
    <a routerLink="/task41">task41</a>
    <a routerLink="/task42">task42</a>
    <a routerLink="/task43">task43</a>
    <a routerLink="/task44">task44</a>
    <a routerLink="/task45">task45</a>
    <a routerLink="/task46">task46</a>
    <a routerLink="/task47">task47</a>
</nav>
<router-outlet></router-outlet>