<div class="page-header">
    <h1>Опциональные сервисы</h1>
</div>
<div class="task-description">
    <description-component>
        <h3>В сервис получения данных добавлен сервис логирования</h3>
    </description-component>
</div>
<div class="panel" *ngIf="(observable$ | async) as items">
    <div class="container">
        <item-component *ngFor="let item of items; let i = index" [todoIndex]="i" [title]="item.title"
            [completed]="item.completed">
        </item-component>
    </div>
</div>